@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212121;
  user-select: none;
  overflow: hidden;
}
*:focus {
  outline: none;
}

.continueButton {
  background-color: #fac9b8;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 600ms ease-in-out forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(30px);
    opacity: 1;
  }
}

/* page */

.showPage1 {
  animation: showPage1 700ms forwards ease-in-out;
}

@keyframes showPage1 {
  0% {
    opacity: 0;
    transform: translateX(100vw);
    display: flex;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.hidePage1 {
  animation: hidePage1 700ms forwards ease-in-out;
}

@keyframes hidePage1 {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    display: none;
    transform: translate(100vw);
  }
}

.errorPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width: 300px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 20px;
  background-color: #fac9b8;
  animation: errorPopup 700ms forwards ease-in-out;
  font-size: 20px;
}

@keyframes errorPopup {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
